manifest {
  description = 'Benchmarking ref' 
  author = 'Thanh Le Viet'
}
profiles {

  slurm {
    process {
      executor = 'slurm'
      clusterOptions ='--partition=nbi-medium,qib-long'
      container = '/qib/platforms/Informatics/hackathon2019/singularity/benchmark-ref.sif'
      errorStrategy = 'ignore'
      }
    singularity.enabled = true
  }
}
